@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1280px;
    font-size: 14px;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

